extends layout

block content
    ul(class="nav nav-tabs")
      li.nav-item
        a(class="nav-link text-success" href="/") Home
      
      li.nav-item
        a(class="nav-link text-success " href="programs") Programs
      
      li(class="nav-item")
        a(class="nav-link active" href="about") About Us
      
      li.nav-item
        a(class="nav-link text-success" href="contact") Contact Us
      
      

    div
    p.text-success The Redeemers Men's Fellowship of RCCG LightHouse Parish was founded in April 2015 in Pastor Opara's House, Igere. The Aim of the convener is to Bring godly men together to pray for the Family and the Church. It has since provided an opportunity for Members to bond together in love, share the word of God, learn form one another, socialize with fellow christians and pray for the Growth of the family. The Group is lead by a 5 man Executive team and meets every third Sunday of the Month by 5.PM. Listed below are the names of the Executives and their Positions :
    p.text-success <strong> President</strong> Mr. Gbenga Adelaja
    p.text-success <strong>PRO</strong> Mr. Opeyemi Adeyemi
    p.text-success <strong>Secretary</strong> Mr. Adebolwale
    p.text-success <strong>Treasurer</strong> Mr Gbenga Abiodun
    p.text-success <strong>Minister In  Charge</strong> Mr. Olasoju




