extends layout

block content
    ul(class="nav nav-tabs")
      li.nav-item
        a(class="nav-link text-success" href="/") Home
      
      li.nav-item
        a(class="nav-link text-success " href="programs") Programs
      
      li(class="nav-item")
        a(class="nav-link active" href="about") About Us
      
      li.nav-item
        a(class="nav-link text-success" href="contact") Contact Us
      
      

    div
    p.text-success The Reedemed Christian Church of God , LightHouse Zone was established in OPIC Estate during the .....The Parish is lead by the following members :
    p.text-success <strong> Pastor</strong> 
    p.text-success <strong>Secretary</strong> 
    




