extends layout

block content
    ul(class="nav nav-tabs")
      li.nav-item
        a(class="nav-link text-success" href="/") Home
      
      li.nav-item
        a(class="nav-link text-success" href="programs") Programs
      
      li(class="nav-item")
        a(class="nav-link text-success" href="about") About Us
      
      li.nav-item
        a(class="nav-link active" href="contact") Contact Us
      
      li.nav-item
        a(class="nav-link text-success" href="sun_school") Sunday School
      


    div
    <br />
    p.text-success You Can reach us through the Church Address:
    h5.text-success The Redeemed Christian Church of God, LighHouse Parish
    p.text-success Road 814, Area 8, OPIC Estate Agbara, Ogun State.
    p.text-success You can also reach us through the following Church Officers :
    p.text-success <strong>Pastor</strong> - 
    p.text-success <strong>Secretary</strong> - 

