ul(class="nav nav-tabs" data-tabs="tabs" )
        li(class="nav-item")
            a(class="nav-link "  href="#/" data-toggle="tab") Home
        
        li(class="nav-item")
            a(class="nav-link"  href="#programs" data-toggle="tab") Programs
        
        li(class="nav-item")
            a(class="nav-link"  href="#about" data-toggle="tab") About Us
        
        li(class="nav-item")
            a(class="nav-link"  href="#contact" data-toggle="tab") Contact Us