extends layout

block content
    ul(class="nav nav-tabs")
      li.nav-item
        a(class="nav-link text-success" href="/") Home
      
      li.nav-item
        a(class="nav-link active" href="programs") Programs
      
      li(class="nav-item")
        a(class="nav-link text-success" href="about") About Us
      
      li.nav-item
        a(class="nav-link text-success" href="contact") Contact Us
      
      


    div
    p(class="text-success") You are Welcome to the Redeemers Men Fellowship of the the RCCG LightHouse programs